<div class="overlay-patient-holder">
	<div>		
		<section class="overlay-patient-profile">
			<div class="overlay-patient-profile-name patient-profile-name-hover">Mable Buckman</div>
			<img class="overlay-patient-img" src="/img/profiles/2.jpg">
			<!--<div class='patient-profile-age patient-profile-age-hover'>23 <span class='patient-profile-label'>years old</span></div>-->
			<div class="clear"></div>
		</section>
		<div class="overlay-data">
					
			
			<div class="overlay-stats">
				<div class="overlay-stats-bg-group">
					<div class="overlay-stats-bg">
						<div class="overlay-stats-bg-value color-range-normal-color">91</div>
						<div class="overlay-stats-bg-unit">mg/dl</div>
					</div>
					<div class="overlay-stats-bg-trend"><img src="/img/icon-arrow.png" style="-webkit-transform: rotate(90deg); -webkit-transform-origin: 50% 50%;"></div>
				</div>
				<div class="overlay-warning"><img src="/img/warning.png"></div>
				<div class="clear"></div>
				<ul class="overlay-stats-bg-list" style="
    float: left;
    padding: 10px;
    width: 40%;
">
					<li>Avg: <span class="overlay-right"><span class="overlay-stats-bg-list-value overlay-stats-average">119</span> mg/dl</span></li>
					<li>Range: <span class="overlay-right"><span class="overlay-stats-inRange">92</span> %</span></li>
					<li>Hyper: <span class="overlay-right"><span class="overlay-stats-inHyper">7</span> %</span></li>
					<li>Hypo: <span class="overlay-right"><span class="overlay-stats-inHypo">2</span> %</span></li>
				</ul>
				<ul class="overlay-stats-hormone-list" style="
    float: left;
    width: 40%;
    padding: 10px;
">
					<li>Insulin/day: <span class="overlay-right"><span class="overlay-stats-bg-list-value">--</span> u</span></li>
					<li>IOB: <span class="overlay-right"><span class="overlay-stats-bg-list-value">--</span> u</span></li>
					<li class="overlay-stats-glucagon" style="display: none;">Glucagon/day: <span class="overlay-right"><span class="overlay-stats-bg-list-value">--</span> mg</span></li>
					<li class="overlay-stats-glucagon" style="display: none;">GOB: <span class="overlay-right"><span class="overlay-stats-bg-list-value">--</span> mg</span></li>
				</ul>
			</div>
			<div class="clear"></div>
		</div>
		<!--<section class='overlay-patient-graph-big'></section>
		<section class='patient-value patient-value-hover'>
			<div class='patient-profile-value'>91</div>
			<div class='patient-profile-value-label patient-profile-label'>mmol/l</div>
		</section>
		-->
	</div>
</div>